# Server
DATABASE_URL=postgresql://user:password@localhost:5432/tap_to_trade
BULK_API_URL=https://exchange-api1.northstarlabs.xyz/api/v1
BULK_WS_URL=wss://exchange-wss1.northstarlabs.xyz
PRIVY_APP_ID=cmmrhqava016g0cjp6d4v8f48
PRIVY_APP_SECRET=privy_app_secret_493onqfeg8XxqU1do44vhRGMSGUFVYSfUgiLSqDQD9UQFFeAwLq3aMoMHi5mPyp66GT5y9T8ShNtuDbxYrV5AFmV
PORT=3001

# Frontend
VITE_PRIVY_APP_ID=your-privy-app-id
VITE_SERVER_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3001
